<!DOCTYPE html>
<html>

<head>
    <title>可以跨域获取的资源</title>
    <meta name="description" content="可以跨域获取的资源">
    <link rel="stylesheet" href="http://corsdisableapi.jiu-shu.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://corsdisableapi.jiu-shu.com/css/all.css">
    <link rel="stylesheet" href="/css/common.css">  
</head>

<body>
    {{>header}}
    <div class="container">
        <h1> 默认有哪些资源是可以跨域请求的</h1>
        <h2>以下资源是允许跨域请求的</h2>
        <p>此页面请求的以下资源是可以跨域请求的：</p>
        <pre>
        <span>http://corsdisableapi.jiu-shu.com/css/bootstrap.min.css</span><br>
        <span>http://corsdisableapi.jiu-shu.com/js/bootstrap.min.js</span><br>
        <span>http://corsdisableapi.jiu-shu.com/images/fishing.jpg</span>
    </pre>
        <p>如果开启CORS这里应该出现一个chrome的图标： </p><i class="fab fa-chrome"></i>
        <p>在没有cors机制的情况下， 字体的访问默认是不可以跨域的。所以上面的chrome的图标没有显示出来。</p>
        <p>这个页面同时也发出了Ajax 的Get请求： http://corsdisableapi.jiu-shu.com/users，同样存在跨域访问的问题</p>
        <p><b>
            所以一般的web应用（比如Nodejs 的 Express，Spring Web 等)，默认情况下图片，css，js等资源可以跨域访问以为，字体及Ajax的请求都是无法跨域的。
            这只是一般默认行为，应用也可以根据自行需要来设置是否允许这类资源跨域访问。
        </b></p>
        <div>
            <p>下面这张图片来自：http://corsdisableapi.jiu-shu.com/images/fishing.jpg</p>
            <img src="http://corsdisableapi.jiu-shu.com/images/fishing.jpg" title="Fishing" alt="Fishing">
        </div>
        
        <div>
            <p>下面的图片来Java Spring Web</p>
            <img src="https://wcdn.okchem.com/resources/okchem/images/others/benefits3.png" >
        </div>
        <!-- Content here -->
    </div>
    <script src="http://corsdisableapi.jiu-shu.com/js/bootstrap.min.js"></script>
    <script>
        var url = 'http://corsdisableapi.jiu-shu.com/users';
        var xhr = new XMLHttpRequest();
        xhr.open('GET', url, true);
        xhr.send();
    </script>
</body>

</html>