<!DOCTYPE html>
<html>

<head>
    <title>可以跨域获取的资源</title>
    <meta name="description" content="可以跨域获取的资源">
    <link rel="stylesheet" href="http://crosdiableapi.jiu-shu.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://crosdiableapi.jiu-shu.com/js/bootstrap.min.js">
</head>

<body>
    <h1> 默认有哪些资源是可以跨域请求的</h1>

    <h2>以下资源是允许跨域请求的</h2>
    <p>此页面请求了以下资源：</p>
    <pre>
        <span>http://crosdiableapi.jiu-shu.com/css/bootstrap.min.css</span><br>
        <span>http://crosdiableapi.jiu-shu.com/js/bootstrap.min.js</span><br>
        <span>http://crosdiableapi.jiu-shu.com/images/fishing.jpg</span>
    </pre>
    <img src="http://crosdiableapi.jiu-shu.com/images/fishing.jpg" title="Fishing" alt="Fishing">
</body>

</html>