<header class="header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <a href="http://tech.jiu-shu.com/" class="logo">旧书 - IT Technologies</a>
        </div>
      </div>
    </div>
  </header>